:root {
    --main--blue: #570df8;
    --white: #ffffff;
  }


.main-bg{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.glass-bg{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.3),  rgba(255,255,255, 0.6));
}

.active{
    background: var(--main--blue);
    color: white;
}
a:active{
    background: var(--main--blue);
}

.custom-shadow{
    box-shadow: 0 0 20px 0px #eef2ff;
}

.custom-border{
    border: 1px solid #eef2ff;
}


